.streamcontainer {
    height: 100%;
    position:fixed;
    top:0;
    width: 100%;
}

.streamcontainer video, canvas, iframe {
    width: 100%;
    max-height: 500px;
    height: 50%;
    color: white;
    font-weight: bolder;
    color: rgb(0,0,0);
}

.streamcontainer .container {
    min-height: 42.5%;
    overflow-y: scroll;
    font-size: 0.95em;
}
.chat-send {
    margin: 0.25em 1em;
    /* position: fixed;
    bottom:0;
    width:80%; */
    background-color: #FFF;
}

.materialize-textarea {
    font-size: 0.9em !important;
    padding: 0.1em;
}

